# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
<li>List popular languages for Data Science</li>
<li>List commonly used libraries used by Data Scientists</li>
<li>Create a one column table with popular Data Science Tools</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>Pandas</li>
<li>NumPy</li>
<li>Matplotlib</li>
</ol>

|Data Science Tools|
|-----------| 
|Spark| 
|Hadoop|
|Pandas|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60.
(200)/60

3.3333333333333335

## Author
Amy Al Aghbar